.navbar {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.navbar.collapsed .linksInner {
  padding: var(--mantine-spacing-sm);
  align-items: center;
}

.links {
  flex: 1;
}

.linksInner {
  padding: var(--mantine-spacing-md);
  transition: padding 0.3s ease;
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-md);
  display: flex;
  justify-content: center;
  position: relative;
  transition: padding 0.3s ease;
}

.navbar.collapsed .footer {
  padding: var(--mantine-spacing-sm);
}

.contactIconButton {
  transition: transform 0.2s ease;
}

.contactIconButton:hover {
  transform: translateY(calc(var(--mantine-spacing-xs) * -0.25));
}

.toggleButton {
  position: absolute;
  top: 0;
  right: calc(var(--mantine-spacing-md) * -1.125);
  transform: translateY(-50%);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  border: calc(var(--mantine-spacing-xs) * 0.125) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  box-shadow: var(--mantine-shadow-sm);
  transition: all 0.2s ease;
  z-index: var(--mantine-z-index-app);
  border-radius: var(--mantine-radius-xl);
}

.toggleButton:hover {
  transform: translateY(-50%) scale(1.05);
  border-color: light-dark(
    var(--mantine-color-gray-5),
    var(--mantine-color-dark-3)
  );
  box-shadow: var(--mantine-shadow-md);
}
