.root {
  display: flex;
  width: 100%;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

/* 分隔条 */
.divider {
  flex-shrink: 0;
  background: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  );
}

.vertical .divider {
  height: var(--mantine-spacing-md);
  width: 100%;
}

.horizontal .divider {
  width: var(--mantine-spacing-md);
  height: auto;
}

/* Section 项 */
.section {
  background: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  padding: var(--mantine-spacing-lg);
}

.horizontal .section {
  flex: 1;
  min-width: 0;
}
