.root {
  width: 100%;
  min-height: 100vh;
  padding: calc(var(--mantine-spacing-xl) * 0.75) var(--mantine-spacing-xl);
  box-sizing: border-box;
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  flex: 1;
  min-height: 100%;
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-lg);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sizeFull {
  max-width: 100%;
}

.sizeLg {
  max-width: calc(var(--mantine-spacing-xl) * 40);
}

.sizeMd {
  max-width: calc(var(--mantine-spacing-xl) * 32);
}

.alignCenter {
  margin-inline: auto;
}

.variantDefault {
  background: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  box-shadow: var(--mantine-shadow-sm);
}

.variantMuted {
  background: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  );
  box-shadow: var(--mantine-shadow-xs);
  border: calc(var(--mantine-spacing-xs) * 0.125) solid light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-5)
    );
}
