.root {
  padding: var(--mantine-spacing-lg);
}

.value {
  line-height: 1;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
  /* 其余字体属性由组件 props 控制（size / fw / tt） */
}
