.button {
  transition: transform 0.2s ease;
}

.button:hover {
  transform: translateY(calc(var(--mantine-spacing-xs) * -0.2));
}

.contactItem {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 0.2s ease;
}

.contactItem:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}
