.root {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: calc(var(--mantine-spacing-xl) * 26);
  /* padding: 16px 20px 0 */
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg) 0;
  border-radius: 0;
  background: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  box-shadow: var(--mantine-shadow-sm);
  border: calc(var(--mantine-spacing-xs) * 0.125) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  box-sizing: border-box;
}

.inner {
  max-width: calc(var(--mantine-spacing-xl) * 22);
  text-align: center;
}

.code {
  font-size: calc(var(--mantine-spacing-xl) * 4);
  font-weight: 900;
  letter-spacing: calc(var(--mantine-spacing-xs) * 0.3);
  color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  margin-bottom: var(--mantine-spacing-lg);
  line-height: 1;
}

.title {
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  color: var(--mantine-color-text);
  margin-bottom: var(--mantine-spacing-sm);
}

.description {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
  margin-bottom: var(--mantine-spacing-xl);
}
