.root {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
  box-sizing: border-box;
}

.inner {
  max-width: calc(var(--mantine-spacing-xl) * 14);
  text-align: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.code {
  font-size: calc(var(--mantine-spacing-xl) * 5);
  font-weight: 900;
  letter-spacing: calc(var(--mantine-spacing-xs) * -0.2);
  color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  line-height: 1;
  user-select: none;
}

.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
  color: var(--mantine-color-text);
}

.description {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
  max-width: calc(var(--mantine-spacing-xl) * 12);
  margin-left: auto;
  margin-right: auto;
}
