.header {
  border-bottom: calc(var(--mantine-spacing-xs) * 0.125) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.footer {
  border-top: calc(var(--mantine-spacing-xs) * 0.125) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.notificationItem {
  position: relative;
  padding: var(--mantine-spacing-md);
  border-bottom: calc(var(--mantine-spacing-xs) * 0.125) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.notificationItem:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.notificationItem:last-child {
  border-bottom: none;
}

.unreadDot {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md);
  width: calc(var(--mantine-spacing-xs) * 0.8);
  height: calc(var(--mantine-spacing-xs) * 0.8);
  background-color: var(--mantine-color-red-6);
  border-radius: var(--mantine-radius-xl);
}

.link {
  cursor: pointer;
  transition: opacity 0.15s ease;
}

.link:hover {
  opacity: 0.7;
}
