.root {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: var(--mantine-spacing-md);
  background: var(--layout-surface-bg);
  border-top: calc(var(--mantine-spacing-xs) * 0.1) solid
    var(--layout-divider-color);
  box-shadow: var(--layout-surface-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-4)
    )
    transparent;
}

.root::-webkit-scrollbar {
  width: var(--mantine-spacing-xs);
}

.root::-webkit-scrollbar-track {
  background: transparent;
}

.root::-webkit-scrollbar-thumb {
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-4)
  );
  border-radius: var(--mantine-radius-md);
}

.content {
  flex: 1 1 auto;
  margin: calc(var(--mantine-spacing-xs) * 0.4);
}
