.root {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);
  background: var(--layout-surface-bg);
  border-top: calc(var(--mantine-spacing-xs) * 0.1) solid
    var(--layout-divider-color);
  box-shadow: var(--layout-surface-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  margin: var(--mantine-spacing-md);
}
