.header {
  background-color: var(--mantine-color-body);
  height: 100%;
  min-height: calc(var(--mantine-spacing-xl) * 1.75);
  border-bottom: calc(var(--mantine-spacing-xs) * 0.125) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 100%;
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
}

@media (max-width: 30rem) {
  .inner {
    padding-left: var(--mantine-spacing-sm);
    padding-right: var(--mantine-spacing-sm);
    row-gap: var(--mantine-spacing-xs);
    flex-wrap: wrap;
  }
}
