.header {
  background-color: var(--mantine-color-body);
  height: 100%;
}

.inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
}

@media (max-width: 30rem) {
  .inner {
    padding-left: var(--mantine-spacing-sm);
    padding-right: var(--mantine-spacing-sm);
    row-gap: var(--mantine-spacing-xs);
    flex-wrap: wrap;
  }
}
