.root {
  min-height: calc(100vh - calc(var(--mantine-spacing-xl) * 4));
  padding: var(--mantine-spacing-xl);
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
}

.inner {
  width: 100%;
  margin-inline: auto;
}

.header {
  margin-bottom: var(--mantine-spacing-xl);
}

.mainGrid {
  margin-top: var(--mantine-spacing-xl);
}
