.wrapper {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  animation: fadeSlideHorizontal 0.3s ease;
  will-change: opacity, transform;
}

@keyframes fadeSlideHorizontal {
  from {
    opacity: 0;
    transform: translateX(calc(var(--mantine-spacing-xl) * -0.75));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
